<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<title>{{title}}</title>
	<script src="https://unpkg.com/mithril/mithril.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
	<style>
		.item-panel {
			background-color: rgba(0, 0, 0, 0.9);
			min-width: 400px;
			max-width: 800px;
			color:  white;
			border: 3px solid #857a66;
		}

		.item-panel-header {
			text-align: center;
			border-bottom: 3px solid #857a66;
		}

		.item-panel-body {
			padding: 2px;
		}

		.item-panel-inscription {
			border-top: 3px solid #857a66;
			padding:  2px;
			background:  yellow;
			background-color: #ac8b52;
			position:relative;
			color: black;
			white-space: pre-line;
		}

		.item-panel-inscriber {
			position:absolute;
			bottom:0;
			right:0;
		}

		.item-panel-buffed-stat {
			color: green;
			border-radius: 5px;
			font-weight: 900;
		}
		
		body {
			padding-bottom: 100vh;
		}
	</style>
</head>
<body>
	<div id="app"></div>
	<div id="tooltip" style="position: fixed;display:none;"></div>
	<script>
	const ROUND_STATS_TO = 4;
	
	const EQM_AETHERIA_BLUE       = 0x10000000;
	const EQM_AETHERIA_YELLOW     = 0x20000000;
	const EQM_AETHERIA_RED        = 0x40000000;
	
	const RAW_ITEMSET                     = 0x10109;
	const RAW_IMBUED                      = 0x100B3;
	const RAW_RATING_CRIT_DAMAGE_RESIST   = 0x10177;
	const RAW_RATING_CRIT_DAMAGE          = 0x10176;
	const RAW_RATING_CRIT_RESIST          = 0x10175;
	const RAW_RATING_CRIT                 = 0x10174;
	const RAW_RATING_DAMAGE_RESIST        = 0x10173;
	const RAW_RATING_DAMAGE               = 0x10172;
	const RAW_MAX_LEVEL                   = 0x1013F;
	const RAW_XP_STYLE                    = 0x10140;
	const RAW_BASE_XP                     = 0x20000005;
	const RAW_TOTAL_XP                    = 0x20000004;
	const RAW_WORKMANSHIP                 = 0x10069;
	const RAW_ATTACK_TYPE                 = 0x1002F;
	
	const REND_CIRTICAL_STRIKE    = 0x001;
	const REND_CRIPPLING_BLOW     = 0x002;
	const REND_ARMOR_RENDERING    = 0x004;
	const REND_SLASH              = 0x008;
	const REND_PIERCING           = 0x010;
	const REND_BLUDGEONING        = 0x020;
	const REND_ACID               = 0x040;
	const REND_COLD               = 0x080;
	const REND_ELECTRICAL         = 0x100;
	const REND_FIRE               = 0x200;
	
	const skidLightWeapons = 45;
	const skidHeavyWeapons 	= 44
	const skidFinesseWeapons 	= 46;
	const skidTwoHanded 	= 41;
	const skidMissileWeapons 	= 47;
	const skidMissileDefense 	= 7;
	const skidMeleeDefense 	= 6;
	const skidWarMagic 	= 34;
	const skidVoidMagic 	= 43;
	
	const skidNames = {};
	skidNames[1] = "Axe";
	skidNames[2] = "Bow";
	skidNames[3] = "Crossbow";
	skidNames[4] = "Dagger";
	skidNames[5] = "Mace";
	skidNames[6] = "Melee Defense";
	skidNames[7] = "Missile Defense";
	skidNames[9] = "Spear";
	skidNames[10] = "Staff";
	skidNames[11] = "Sword";
	skidNames[12] = "Thrown Weapons";
	skidNames[13] = "Unarmed Combat";
	skidNames[14] = "Arcane Lore";
	skidNames[15] = "Magic Defense";
	skidNames[16] = "Mana Conversion";
	skidNames[18] = "Item Tinkering";
	skidNames[19] = "Assess Person";
	skidNames[20] = "Deception";
	skidNames[21] = "Healing";
	skidNames[22] = "Jump";
	skidNames[23] = "Lockpick";
	skidNames[24] = "Run";
	skidNames[27] = "Assess Creature";
	skidNames[28] = "Weapon Tinkering";
	skidNames[29] = "Armor Tinkering";
	skidNames[30] = "Magic Item Tinkering";
	skidNames[31] = "Creature Enchantment";
	skidNames[32] = "Item Enchantment";
	skidNames[33] = "Life Magic";
	skidNames[34] = "War Magic";
	skidNames[35] = "Leadership";
	skidNames[36] = "Loyalty";
	skidNames[37] = "Fletching";
	skidNames[38] = "Alchemy";
	skidNames[39] = "Cooking";
	skidNames[40] = "Salvaging";
	skidNames[41] = "TwoHanded";
	skidNames[42] = "Gearcraft";
	skidNames[43] = "VoidMagic";
	skidNames[44] = "Heavy Weapons";
	skidNames[45] = "Light Weapons";
	skidNames[46] = "Finesse Weapons";
	skidNames[47] = "Missile Weapons";
	skidNames[48] = "Shield";
	skidNames[49] = "Dual Wield";
	skidNames[50] = "Recklessness";
	skidNames[51] = "SneakAttack";
	skidNames[52] = "Dirty Fighting";
	skidNames[54] = "Summoning";
	
	const weaponTypes = {};
	weaponTypes[1] = "Unarmed Weapon";
	weaponTypes[2] = "Sword";
	weaponTypes[3] = "Axe";
	weaponTypes[4] = "Mace";
	weaponTypes[5] = "Spear";
	weaponTypes[6] = "Dagger";
	weaponTypes[7] = "Staff";
	weaponTypes[8] = "Bow";
	weaponTypes[9] = "Crossbow";
	weaponTypes[10] = "Thrown Weapon";

	function getDamageType(dmty) {
		if (dmty & 0x0001 && dmty & 0x0002) return "Slash/Pierce";
		if (dmty & 0x0001) return "Slash";
		if (dmty & 0x0002) return "Pierce";
		if (dmty & 0x0004) return "Bludge";
		if (dmty & 0x0008) return "Cold";
		if (dmty & 0x0010) return "Fire";
		if (dmty & 0x0020) return "Acid";
		if (dmty & 0x0040) return "Electrical";
		if (dmty & 0x0400) return "Nether";
		return dmty;
	};
	
	const equipNames = {};
	equipNames[0x00000001] = "Head";
	equipNames[0x00000002] = "Chest";
	equipNames[0x00000004] = "Abdomen";
	equipNames[0x00000008] = "Upper Arm";
	equipNames[0x00000010] = "Lower Arm";
	equipNames[0x0000001A] = "Shirt";
	equipNames[0x00000020] = "Hand";
	equipNames[0x00000040] = "Upper Leg";
	equipNames[0x00000080] = "Lower Leg";
	equipNames[0x000000C0] = "Pants";
	equipNames[0x000000DE] = "Clothing";
	equipNames[0x00000100] = "Foot";
	equipNames[0x00000200] = "Chest";
	equipNames[0x00000400] = "Abdomen";
	equipNames[0x00000800] = "Upper Arm";
	equipNames[0x00001000] = "Lower Arm";
	equipNames[0x00002000] = "Upper Leg";
	equipNames[0x00004000] = "Lower Leg";
	equipNames[0x00008000] = "Neck";
	equipNames[0x00030000] = "Bracelet";
	equipNames[0x000C0000] = "Ring";
	equipNames[0x00100000] = "Weapon";
	equipNames[0x00200000] = "Shield";
	equipNames[0x00800000] = "Ammo";
	equipNames[0x01000000] = "Held";
	equipNames[0x02000000] = "Two Handed";
	equipNames[0x04000000] = "TrinketOne";
	equipNames[0x08000000] = "Cloak";
	equipNames[0x10000000] = "Sigil One";
	equipNames[0x20000000] = "Sigil Two";
	equipNames[0x25000000] = "Weapon";
	equipNames[0x40000000] = "Sigil Three";

	const specieNames = {
		[0]: "Invalid",
		[1]: "Olthoi",
		[2]: "Banderling",
		[3]: "Drudge",
		[4]: "Mosswart",
		[5]: "Lugian",
		[6]: "Tumerok",
		[7]: "Mite",
		[8]: "Tusker",
		[9]: "Phyntos Wasp",
		[10]: "Rat",
		[11]: "Auroch",
		[12]: "Cow",
		[13]: "Golem",
		[14]: "Undead",
		[15]: "Gromnie",
		[16]: "Reedshark",
		[17]: "Armoredillo",
		[18]: "Fae",
		[19]: "Virindi",
		[20]: "Wisp",
		[21]: "Knathtead",
		[22]: "Shadow",
		[23]: "Mattekar",
		[24]: "Mumiyah",
		[25]: "Rabbit",
		[26]: "Sclavus",
		[27]: "Shallows Shark",
		[28]: "Monouga",
		[29]: "Zefir",
		[30]: "Skeleton",
		[31]: "Human",
		[32]: "Shreth",
		[33]: "Chittick",
		[34]: "Moarsman",
		[35]: "Olthoi Larvae",
		[36]: "Slithis",
		[37]: "Deru",
		[38]: "Fire Elemental",
		[39]: "Snowman",
		[40]: "Unknown",
		[41]: "Bunny",
		[42]: "Lightning Elemental",
		[43]: "Rockslide",
		[44]: "Grievver",
		[45]: "Niffis",
		[46]: "Ursuin",
		[47]: "Crystal",
		[48]: "Hollow Minion",
		[49]: "Scarecrow",
		[50]: "Idol",
		[51]: "Empyrean",
		[52]: "Hopeslayer",
		[53]: "Doll",
		[54]: "Marionette",
		[55]: "Carenzi",
		[56]: "Siraluun",
		[57]: "Aun Tumerok",
		[58]: "Hea Tumerok",
		[59]: "Simulacrum",
		[60]: "Acid Elemental",
		[61]: "Frost Elemental",
		[62]: "Elemental",
		[63]: "Statue",
		[64]: "Wall",
		[65]: "Altered Human",
		[66]: "Device",
		[67]: "Harbinger",
		[68]: "Dark Sarcophagus",
		[69]: "Chicken",
		[70]: "Gotrok Lugian",
		[71]: "Margul",
		[72]: "Bleached Rabbit",
		[73]: "NastyRabbit",
		[74]: "Grimacing Rabbit",
		[75]: "Burun",
		[76]: "Target",
		[77]: "Ghost",
		[78]: "Fiun",
		[79]: "Eater",
		[80]: "Penguin",
		[81]: "Ruschk",
		[82]: "Thrungus",
		[83]: "Viamontian Knight",
		[84]: "Remoran",
		[85]: "Swarm",
		[86]: "Moar",
		[87]: "Enchanted Arms",
		[88]: "Sleech",
		[89]: "Mukkir",
		[90]: "Merwart",
		[91]: "Food",
		[92]: "Paradox Olthoi",
		[93]: "Harvest",
		[94]: "Energy",
		[95]: "Apparition",
		[96]: "Aerbax",
		[97]: "Touched",
		[98]: "Blighted Moarsman",
		[99]: "GearKnight",
		[100]: "Gurog"
	};

	var setNames = {};
	setNames[27] = "Acid Proof";
	setNames[14] = "Adept";
	setNames[15] = "Archer";
	setNames[28] = "Cold Proof";
	setNames[18] = "Crafter";
	setNames[92] = "Darkened Mind";
	setNames[16] = "Defender";
	setNames[20] = "Dexterous";
	setNames[26] = "Flame Proof";
	setNames[23] = "Hardened";
	setNames[19] = "Hearty";
	setNames[40] = "Heroic Protector";
	setNames[25] = "Interlocking";
	setNames[29] = "Lightning Proof";
	setNames[24] = "Reinforced";
	setNames[51] = "Sigil of Armor Tinkering";
	setNames[35] = "Sigil of Defense";
	setNames[36] = "Sigil of Destruction";
	setNames[37] = "Sigil of Fury";
	setNames[38] = "Sigil of Growth";
	setNames[66] = "Sigil of Loyalty";
	setNames[39] = "Sigil of Vigor";
	setNames[13] = "Soldier";
	setNames[22] = "Swift";
	setNames[17] = "Tinker";
	setNames[49] = "Weave of Alchemy";
	setNames[50] = "Weave of Arcane Lore";
	setNames[83] = "Weave of Assess Creature";
	setNames[52] = "Weave of Assess Person";
	setNames[55] = "Weave of Cooking";
	setNames[56] = "Weave of Creature Enchantment";
	setNames[59] = "Weave of Deception";
	setNames[84] = "Weave of Dirty Fighting";
	setNames[85] = "Weave of Dual Wield";
	setNames[58] = "Weave of Finesse Weapons";
	setNames[60] = "Weave of Fletching";
	setNames[61] = "Weave of Healing";
	setNames[76] = "Weave of Heavy Weapons";
	setNames[62] = "Weave of Item Enchantment";
	setNames[63] = "Weave of Item Tinkering";
	setNames[64] = "Weave of Leadership";
	setNames[65] = "Weave of Life Magic";
	setNames[53] = "Weave of Light Weapons";
	setNames[68] = "Weave of Magic Defense";
	setNames[69] = "Weave of Magic Item Tinkering";
	setNames[70] = "Weave of Mana Conversion";
	setNames[71] = "Weave of Melee Defense";
	setNames[72] = "Weave of Missile Defense";
	setNames[54] = "Weave of Missile Weapons";
	setNames[86] = "Weave of Recklessness";
	setNames[73] = "Weave of Salvaging";
	setNames[87] = "Weave of Shield";
	setNames[88] = "Weave of Sneak Attack";
	setNames[90] = "Weave of Summoning";
	setNames[78] = "Weave of Two Handed Combat";
	setNames[80] = "Weave of Void Magic";
	setNames[81] = "Weave of War Magic";
	setNames[82] = "Weave of Weapon Tinkering";
	setNames[21] = "Wise";

	var getFullName = function factory() {
		var materials = {};
		materials[1] = 'Ceramic';
		materials[2] = 'Porcelain';
		materials[3] = 'Cloth';
		materials[4] = 'Linen';
		materials[5] = 'Satin';
		materials[6] = 'Silk';
		materials[7] = 'Velvet';
		materials[8] = 'Wool';
		materials[9] = 'Gem';
		materials[10] = 'Agate';
		materials[11] = 'Amber';
		materials[12] = 'Amethyst';
		materials[13] = 'Aquamarine';
		materials[14] = 'Azurite';
		materials[15] = 'Black Garnet';
		materials[16] = 'Black Opal';
		materials[17] = 'Bloodstone';
		materials[18] = 'Carnelian';
		materials[19] = 'Citrine';
		materials[20] = 'Diamond';
		materials[21] = 'Emerald';
		materials[22] = 'Fire Opal';
		materials[23] = 'Green Garnet';
		materials[24] = 'Green Jade';
		materials[25] = 'Hematite';
		materials[26] = 'Imperial Topaz';
		materials[27] = 'Jet';
		materials[28] = 'Lapis Lazuli';
		materials[29] = 'Lavender Jade';
		materials[30] = 'Malachite';
		materials[31] = 'Moonstone';
		materials[32] = 'Onyx';
		materials[33] = 'Opal';
		materials[34] = 'Peridot';
		materials[35] = 'Red Garnet';
		materials[36] = 'Red Jade';
		materials[37] = 'Rose Quartz';
		materials[38] = 'Ruby';
		materials[39] = 'Sapphire';
		materials[40] = 'Smokey Quartz';
		materials[41] = 'Sunstone';
		materials[42] = 'Tiger Eye';
		materials[43] = 'Tourmaline';
		materials[44] = 'Turquoise';
		materials[45] = 'White Jade';
		materials[46] = 'White Quartz';
		materials[47] = 'White Sapphire';
		materials[48] = 'Yellow Garnet';
		materials[49] = 'Yellow Topaz';
		materials[50] = 'Zircon';
		materials[51] = 'Ivory';
		materials[52] = 'Leather';
		materials[53] = 'Dillo Hide';
		materials[54] = 'Gromnie Hide';
		materials[55] = 'Reedshark Hide';
		materials[56] = 'Metal';
		materials[57] = 'Brass';
		materials[58] = 'Bronze';
		materials[59] = 'Copper';
		materials[60] = 'Gold';
		materials[61] = 'Iron';
		materials[62] = 'Pyreal';
		materials[63] = 'Silver';
		materials[64] = 'Steel';
		materials[65] = 'Stone';
		materials[66] = 'Alabaster';
		materials[67] = 'Granite';
		materials[68] = 'Marble';
		materials[69] = 'Obsidian';
		materials[70] = 'Sandstone';
		materials[71] = 'Serpentine';
		materials[72] = 'Wood';
		materials[73] = 'Ebony';
		materials[74] = 'Mahogany';
		materials[75] = 'Oak';
		materials[76] = 'Pine';
		materials[77] = 'Teak';

		var translate = {};
		translate["Salvaged Granite"] = "Granite Salvaged"; // Skunkworks sees item as 'Salvaged Granite', but in game it says 'Granite Salvage'
		translate["Salvaged Steel"] = "Steel Salvaged";

		var mcmSalvageBag = 0x40000000;
		return function getFullName(aco) {
			var szName = aco && aco.szName;
			szName = translate[szName] || szName;
			if (aco.mcm == mcmSalvageBag && !szName.match(/Salvage \((\d*)\)/)) {
				return szName;
			} else if (aco && aco.material > 0 && materials[aco.material] && !szName.match(materials[aco.material])) {
				szName = materials[aco.material] + " " + szName;
			}
			return szName;
		};
	}();

	function round(rnum, rlength) { // Arguments: number to round, number of decimal places
		if (rlength == null) rlength = 0;
		return Math.round(rnum * Math.pow(10, rlength)) / Math.pow(10, rlength);
	};

	function getWieldSkill(aco) {
		var acoValue;
		if (aco["oai.iwi.skid"]) {
			acoValue = aco["oai.iwi.skid"]
		}
		if (aco["aco.oai.ibi.skidWieldReq"]) {
			acoValue = aco.oai.ibi.skidWieldReq;
		}
		return acoValue;
	};

	function skidToName(skid) {
		switch(skid) { // Handle the types we define
		case skidLightWeapons:
			return "Light";
		case skidHeavyWeapons:
			return "Heavy";
		case skidFinesseWeapons:
			return "Finesse";
		case skidTwoHanded:
			return "2H";
		case skidMissileWeapons:
			return "MissileW";
		case skidMissileDefense:
			return "MissileD";
		case skidMeleeDefense:
			return "MeleeD";
		case skidWarMagic:
			return "War";
		case skidVoidMagic:
			return "Void";
		}
		return "SkillId:" + skid + " ";
	};

	function getItemTotalXPToLevel(params) {
		var totalXp = params.totalXp;
		var baseXp = params.baseXp;
		var maxLevel = params.maxLevel;
		var xpStyle = params.xpStyle;

		var level = 0;
		if (xpStyle == 1) { // Fixed
			level = Math.floor(totalXp / baseXp);
		} else if (xpStyle == 2) { // ScalesWithLevel
			var levelXP = baseXp;
			var remainXP = totalXp;
			// eslint-disable-next-line no-restricted-syntax
			while (remainXP >= levelXP) {
				level++;
				remainXP -= levelXP;
				levelXP *= 2;
			}
		} else if (xpStyle == 3) { // FixedPlusBase
			if (totalXp >= baseXp && totalXp < baseXp * 3) {
				level = 1;
			} else {
				level = Math.floor((totalXp - baseXp) / baseXp);
			}
		}
		
		if (level > maxLevel) {
			level = maxLevel;
		}
		
		return level;
	};

	function getItemLevelToTotalXP(params) {
		var itemLevel = params.itemLevel;
		var baseXP = params.baseXP;
		var maxLevel = params.maxLevel;
		var xpStyle = params.xpStyle;
		
		if (itemLevel < 1) {
			return 0;
		}
		
		if (itemLevel > maxLevel) {
			itemLevel = maxLevel;
		}
		
		if (itemLevel == 1) {
			return baseXP;
		}
		
		if (xpStyle == 1) { // Fixed
			return itemLevel * baseXP;
		} else if (xpStyle == 2) { // ScalesWithLevel
			var levelXP = baseXP;
			var totalXP = baseXP;
			// eslint-disable-next-line no-restricted-syntax
			for (var i = itemLevel - 1; i > 0; i--) {
				levelXP *= 2;
				totalXP += levelXP;
			}
			return totalXP;
		} else if (xpStyle == 3) { // FixedPlusBase
			return itemLevel * baseXP + baseXP;
		}
	};

	const getItemString = function() {
		function compare_spells(a, b) {
			if (a.szName < b.szName) return 1;
			if (a.szName > b.szName) return -1;
			return 0;
		}

		function _usefulSpell(spell) {
			if (spell.szName.match(/(Minor|Major|Epic|Legendary|Moderate|Surge|Prodigal)/)) {
				return true;
			}
			if (spell.szDesc.match(/Additional spells can be layered over this./)) {
				return true;
			}
			return false;
			
		}

		function _spellIdToData(id) {
			return spellData[id];
		}

		return function getItemString(aco) {
			var s = getFullName(aco);
			
			if (aco.eqm & EQM_AETHERIA_BLUE) {
				s += " (Blue)";
			} else if (aco.eqm & EQM_AETHERIA_YELLOW) {
				s += " (Yellow)";
			} else if (aco.eqm & EQM_AETHERIA_RED) {
				s += " (Red)";
			}

			var v;
			if (aco.citemStack > 1) {
				s += " (" + aco.citemStack + ")";
			}

			s += " :";
			
			var workmanship = aco.workmanship;
			if (workmanship > 0) {
				s += " w" + round(workmanship, 2);
			}

			var imbuneValue = aco["oai.ibi.raw." + RAW_IMBUED.toString(16).toUpperCase()];
			if (imbuneValue == REND_SLASH) {
				s += " SlashR";
			} else if (imbuneValue == REND_PIERCING) {
				s += " PierceR";
			} else if (imbuneValue == REND_BLUDGEONING) {
				s += " BludgeR";
			} else if (imbuneValue == REND_ACID) {
				s += " AcidR";
			} else if (imbuneValue == REND_COLD) {
				s += " ColdR";
			} else if (imbuneValue == REND_ELECTRICAL) {
				s += " ElectricalR";
			} else if (imbuneValue == REND_FIRE) {
				s += " FireR";
			}
			// TODO, other imbune types.

			var al = aco["oai.iai.al"];
			
			if (al) {
				s += " AL" + al;
				var protAL = 0;
				protAL += al * aco["oai.iai.protSlashing"];
				protAL += al * aco["oai.iai.protPiercing"];
				protAL += al * aco["oai.iai.protBludgeoning"];
				protAL += al * aco["oai.iai.protFire"];
				protAL += al * aco["oai.iai.protCold"];
				protAL += al * aco["oai.iai.protAcid"];
				protAL += al * aco["oai.iai.protElectrical"];
				// eslint-disable-next-line no-magic-numbers
				protAL = protAL / 7;
				s += " [" + round(protAL) + "]";
			}

			var skill = getWieldSkill(aco);

			if (skill) {
				if (skill == skidMissileWeapons) {
					var scaleDamageBonus = aco["oai.iwi.scaleDamageBonus"];
					v = round((scaleDamageBonus - 1) * 100, ROUND_STATS_TO);
					s += " M:" + v + "%";
				} else {
					var maxDamage = aco["oai.iwi.dhealth"];
					var minDamage = maxDamage - (aco["oai.iwi.scaleDamageRange"] * maxDamage);
					var avgDamage = (maxDamage + minDamage) / 2;
					if (round(avgDamage, 2) > 0) {
						s += " D:" + round(avgDamage, 0) + " " + getDamageType(aco["oai.iwi.dmty"]);
					}
				}
			}
			
			var scaleAttackBonus = aco["oai.iwi.scaleAttackBonus"];
			if (round(scaleAttackBonus, ROUND_STATS_TO) > 1) {
				v = round((scaleAttackBonus - 1) * 100, ROUND_STATS_TO);
				s += " A+" + v + "%";
			}
			
			var scalePvMElemBonus = aco["oai.iwi.scalePvMElemBonus"];
			if (round(scalePvMElemBonus, ROUND_STATS_TO) > 1) {
				v = round((scalePvMElemBonus - 1) * 100, ROUND_STATS_TO);
				var dmty = aco["oai.iwi.dmty"];
				s += " " + getDamageType(dmty) + "+" + v + "%";
			}

			var scaleDefenseBonus = aco["oai.iwi.scaleDefenseBonus"];
			if (round(scaleDefenseBonus, ROUND_STATS_TO) > 1) {
				v = round((scaleDefenseBonus - 1) * 100, ROUND_STATS_TO);
				s += " MeD+" + v + "%";
			}

			var scaleMissileDBonus = aco["oai.iwi.scaleMissileDBonus"];
			if (round(scaleMissileDBonus, ROUND_STATS_TO) > 1) {
				v = round((scaleMissileDBonus - 1) * 100, ROUND_STATS_TO);
				s += " MiD+" + v + "%";
			}

			var fractManaConvMod = aco["oai.ibi.fractManaConvMod"];
			if (fractManaConvMod) {
				if (round(fractManaConvMod, ROUND_STATS_TO) > 0) {
					v = round(fractManaConvMod * 100, ROUND_STATS_TO);
					s += " MaC+" + v + "%";
				}
			}

			if (aco.cpyValue > 0) {
				s += " V:" + aco.cpyValue;
			}
				
			var fAttuned = aco["oai.ibi.fAttuned"];
			if (fAttuned) {
				s += " attuned";
			}
			
			var fBonded = aco["oai.ibi.fBonded"];
			if (fBonded) {
				s += " bonded";
			}

			var lvlWieldReq = aco["oai.ibi.lvlWieldReq"];
			var skidWieldReq = aco["oai.ibi.skidWieldReq"];
			
			if (lvlWieldReq > 0) {
				if (skidWieldReq) {
					s += " W:" + skidToName(skidWieldReq) + lvlWieldReq;
				} else {
					s += " LW:" + lvlWieldReq; // Level Wield
				}
			}
			
			var difficulty = aco["oai.iei.difficulty"];
			if (difficulty) {
				s += " Lo:" + difficulty;
			}

			var spellIds = aco["oai.iei._cspells"] || [];
			var spells = spellIds.map(_spellIdToData).filter(_usefulSpell);
			if (spells.length > 0) {
				spells.sort(compare_spells);
				var spell = spells[0];
				
				s += " [" + spell.szName;
				
				if (spells.length > 1) {
					// eslint-disable-next-line no-restricted-syntax
					for (var i = 1; i < (spells.length - 1); i++) {
						spell = spells[i];
						s += ", " + spell.szName;
					}
					spell = spells[spells.length - 1];
					s += " & " + spell.szName;
				}
				s += "]";
			}

			var itemSet = aco["oai.ibi.raw." + RAW_ITEMSET.toString(16).toUpperCase()];
			if (itemSet && setNames[itemSet]) {
				s += " [" + setNames[itemSet] + " Set]";
			}
			
			//var totalXp = aco["oai.ibi.raw.20000004"];
			var totalXp = aco["oai.ibi.raw." + RAW_TOTAL_XP.toString(16).toUpperCase()];
			var baseXp = aco["oai.ibi.raw." + RAW_BASE_XP.toString(16).toUpperCase()];
			var xpStyle = aco["oai.ibi.raw." + RAW_XP_STYLE.toString(16).toUpperCase()];

			if (totalXp) {
				var level = getItemTotalXPToLevel({
					totalXp : totalXp,
					baseXp  : baseXp,
					maxLevel: maxLevel,
					xpStyle : xpStyle
				});

				var maxLevel = aco["oai.ibi.raw." + RAW_MAX_LEVEL.toString(16).toUpperCase()];
				if (maxLevel) {
					s += " Level:" + level + "/" + maxLevel;
				}
				
				var levelTotalXP = getItemLevelToTotalXP({
					itemLevel: level + 1,
					baseXP   : baseXp,
					maxLevel : maxLevel,
					xpStyle  : xpStyle
				});

				// eslint-disable-next-line no-magic-numbers
				var percentage = (totalXp / levelTotalXP) * 100;
				s += " XP:" + round(percentage) + "%";
			}
			
			
			var ratings = [];
			
			var value = aco["oai.ibi.raw." + RAW_RATING_DAMAGE.toString(16)];
			if (value) ratings.push("Dam " + value);
			var value = aco["oai.ibi.raw." + RAW_RATING_DAMAGE_RESIST.toString(16)];
			if (value) ratings.push("Dam Resist " + value);
			var value = aco["oai.ibi.raw." + RAW_RATING_CRIT.toString(16)];
			if (value) ratings.push("Crit " + value);
			var value = aco["oai.ibi.raw." + RAW_RATING_CRIT_RESIST.toString(16)];
			if (value) ratings.push("Crit Resist " + value);
			var value = aco["oai.ibi.raw." + RAW_RATING_CRIT_DAMAGE.toString(16)];
			if (value) ratings.push("Crit Dam " + value);
			var value = aco["oai.ibi.raw." + RAW_RATING_CRIT_DAMAGE_RESIST.toString(16)];
			if (value) ratings.push("Crit Dam Resist " + value);
			if (ratings.length > 0) {
				s += " Ratings: " + ratings.join(", ");
			}
			
			return s;
		};
	}();

	let itemPanels = {};

	function getTable() {
		return m("table.table", [
			m("thead", 
				m("tr", [
					m("th", "#"),
					m("th", "Price"),
					m("th", "Item")
				])
			),
			items.map(function(item, i) {
				var fullName = getFullName(item);
				var stats = getItemString(item);
				var price = itemPrices[item.oid] || "?";
				
				return m("tr", [
					m("td", i + 1),
					m("td", price),
					m("td", {
						onmouseover: function(e) {
							var div = document.getElementById("tooltip");
							var panel = itemPanels[item.oid] = itemPanels[item.oid] || getItemPanel({
								item: item
							})
							m.mount(div, {
								view() {
									return panel;
								}
							});
							var left = (e.clientX + 10) + "px";
							var top = (e.clientY + 10) + "px";
							div.style.left = left;
							div.style.top = top;
							div.style.display = "block";
						},
						onmouseout: function(e) {
							var div = document.getElementById("tooltip");
							div.style.display = "none";
						},
					}, stats)
				])
			}),
			m("tfoot", 
				m("tr", [
					m("th", "#"),
					m("th", "Price"),
					m("th", "Item")
				])
			)
		])
	}
	
	function getItemPanel(params) {
		var item = params.item;
		
		var body = [];
		body.push("Value: " + item["cpyValue"], m("br"));
		body.push("Burden: " + item["burden"], m("br"));
		
		if (item["oai.ibi.raw.100AB"]) {
			body.push("This item has been tinkered " + item["oai.ibi.raw.100AB"] + " time(s).", m("br"));
		}
		
		if (item["oai.ibi.raw.80028"]) {
			body.push("Imbued by " + item["oai.ibi.raw.80028"] + ".", m("br"));
		}

		body.push("Workmanship: " + item["workmanship"], m("br"));

		if (item["oai.ibi.raw.100AA"]) {
			body.push("Salvaged from " + item["oai.ibi.raw.100AA"] + " items.", m("br"), m("br"));
		}

		if (item["oai.ibi.raw.10030"]) {
			body.push("Skill: " + skidNames[item["oai.ibi.raw.10030"]]);
			if (item["oai.ibi.raw.10161"] && weaponTypes[item["oai.ibi.raw.10161"]]) {
				body.push(" (" + weaponTypes[item["oai.ibi.raw.10161"]] + ")");
			}
			body.push(m("br"));
		}

		if (item["oai.ibi.raw.1002C"]) {
			var max = item["oai.ibi.raw.1002C"];
			var variance = item["oai.ibi.raw.40016"];
			var min = max - (variance * max);
			var avg = min + ((max - min) / 2);
			body.push("Damage: " + min.toFixed(1) + " - " + max.toFixed(1) + " (~" + avg.toFixed(1) + ", " + getDamageType(item["oai.ibi.raw.1002D"]) + ")");
			// TODO buffed stat
			body.push(m("br"));
		}

		if (item["oai.ibi.raw.10031"]) {
			body.push("Speed: " + item["oai.ibi.raw.10031"], m("br"));
		}

		if (item["oai.ibi.raw.4003E"]) {
			var value = (item["oai.ibi.raw.4003E"] * 100) - 100;
			body.push("Bonus to Attack Skill: " + value.toFixed(1) + "%");
			// TODO: buffed stat
			body.push(m("br"));
		}
		
		if (item["oai.ibi.raw.4001D"]) {
			var value = (item["oai.ibi.raw.4001D"] * 100) - 100;
			body.push("Bonus to Melee Defense: " + value.toFixed(1) + "%");
			// TODO: buffed stat
			//body.push(m("br"));
		}
		
		if (item.eqm) {
			var covers = [];
			Object.keys(equipNames).forEach(function(eqm) {
				if (item.eqm & eqm) {
					covers.push(equipNames[eqm]);
				}
			});
			if (covers.length > 0) {
				body.push(m("br"), "Covers " + covers.join(", "), m("br"));
			}
		}

		if (item["oai.iai.al"]) {
			var al = item["oai.iai.al"];
			body.push(m("br"), "Armor Level: " + al, m("br"));
			body.push("Slashing: " +(al * item["oai.ibi.raw.4000D"]).toFixed(1) + " (x" + item["oai.ibi.raw.4000D"].toFixed(1) + ")", m("br"));
			body.push("Piercing: " + (al * item["oai.ibi.raw.4000E"]).toFixed(1) + " (x" + item["oai.ibi.raw.4000E"].toFixed(1) + ")", m("br"));
			body.push("Bludgeoning: " + (al * item["oai.ibi.raw.4000F"]).toFixed(1) + " (x" + item["oai.ibi.raw.4000F"].toFixed(1) + ")", m("br"));
			body.push("Fire: " + (al * item["oai.ibi.raw.40010"]).toFixed(1) + " (x" + item["oai.ibi.raw.40010"].toFixed(1) + ")", m("br"));
			body.push("Cold: " + (al * item["oai.ibi.raw.40011"]).toFixed(1) + " (x" + item["oai.ibi.raw.40011"].toFixed(1) + ")", m("br"));
			body.push("Acid: " + (al * item["oai.ibi.raw.40012"]).toFixed(1) + " (x" + item["oai.ibi.raw.40012"].toFixed(1) + ")", m("br"));
			body.push("Electric: " + (al * item["oai.ibi.raw.40013"]).toFixed(1) + " (x" + item["oai.ibi.raw.40013"].toFixed(1) + ")", m("br"));
		}
		
		// TODO spell names
		//var spellNames = [];
		var spellIds = item["oai.iei._cspells"] || [];
		var spells = spellIds.map(function(id) {
			return spellData[id];
		});
		body.push("Spells: " + spells.map(function(spell) {
			return spell.szName;
		}).join(", "), m("br"));

		// TODO Properties (bonded, attuned, rendering)
		//body.push("*TODO IMBUES HERE*", m("br"));
		var properties = [];
		if (item["oai.ibi.fAttuned"]) {
			properties.push("Attuned");
		}
		if (item["oai.ibi.fBonded"]) {
			properties.push("Bonded");
		}
		if (item["oai.ibi.raw.100B3"]) {
			let value = item["oai.ibi.raw.100B3"];
			if (value & 0x00000001) {
				properties.push("Critical Strike");
			}
			if (value & 0x00000002) {
				properties.push("Critical Blow");
			}
			if (value & 0x00000004) {
				properties.push("Armor Rendering");
			}
			if (value & 0x00000008) {
				properties.push("Slash Rendering");
			}
			if (value & 0x00000010) {
				properties.push("Pierce Rendering");
			}
			if (value & 0x00000020) {
				properties.push("Bludgeon Rending");
			}
			if (value & 0x00000040) {
				properties.push("Acid Rendering");
			}
			if (value & 0x00000080) {
				properties.push("Cold Rending");
			}
			if (value & 0x00000100) {
				properties.push("Lightning Rending");
			}
			if (value & 0x00000200) {
				properties.push("Fire Rending");
			}
			if (value & 0x00000400) {
				properties.push("Melee Defense");
			}
			if (value & 0x00000800) {
				properties.push("Missile Defense");
			}
			if (value & 0x00001000) {
				properties.push("Magic Defense");
			}
			if (value & 0x00002000) {
				properties.push("Augmented Spell");
			}
			if (value & 0x20000000) {
				properties.push("Magic Absorbing");
			}
			if (value & 0x80000000) {
				properties.push("Phantasmal");
			}
		}
		if (item["oai.ibi.raw.100A6"]) {
			var slayerCreatureType = item["oai.ibi.raw.100A6"];

			if (specieNames[slayerCreatureType]) {
				properties.push(specieNames[slayerCreatureType] + " slayer");
			} else {
				properties.push("UNKNOWN SLAYER CREATURE ID: " + slayerCreatureType);
			}
		}
		
		if (properties.length > 0) {
			body.push("Properties: " + properties.join(", "), m("br"));
		}
		
		
		
		if (item["oai.ibi.raw.100A0"]) {
			//body.push(m("br"));
			if (item["oai.ibi.raw.1009F"]) {
				var name = skidNames[item["oai.ibi.raw.1009F"]] || "skid:" + item["oai.ibi.raw.1009F"];
				body.push("Wield requires base " + name + " " + item["oai.ibi.raw.100A0"], m("br"));
			} else {
				body.push("Wield requires level " + item["oai.ibi.raw.100A0"], m("br"));
			}
		}
		
		if (item["oai.ibi.raw.10110"]) {
			body.push("Wield requires level " + item["oai.ibi.raw.10110"], m("br"));
		}
		
		if (item["oai.ibi.raw.1006D"]) {
			body.push("Activation requires Arcane Lore: " + item["oai.ibi.raw.1006D"], m("br")); // , m("br")
		}
		
		if (item["oai.ibi.raw.40090"]) {
			body.push("Bonus to Mana Conversion: " + (item["oai.ibi.raw.40090"] * 100), m("br"));
		}
		
		if (item["oai.ibi.raw.40098"]) {
			body.push(m("br"), "Damage bonus for " + getDamageType(item["oai.ibi.raw.1002D"]) + " spells: ", m("br"));
			body.push("  vs Monsters: " + ((item["oai.ibi.raw.40098"] * 100)- 100), m("br"));
			body.push("  vs Players: " + (((item["oai.ibi.raw.40098"] * 100)- 100) / 2), m("br"));
		}
		
		if (item["oai.ibi.raw.1006A"]) {
			body.push("Spellcraft: " + item["oai.ibi.raw.1006A"], m("br"));
		}
		
		if (item["oai.ibi.raw.1006B"] && item["oai.ibi.raw.1006C"]) {
			body.push("Mana: " + item["oai.ibi.raw.1006B"] + " / " + item["oai.ibi.raw.1006C"], m("br"));
		}
		
		if (item["oai.ibi.raw.40005"]) {
			var seconds = Math.abs(1 / item["oai.ibi.raw.40005"]);
			body.push("Mana cost: 1 point per " + Math.round(seconds) + " seconds.", m("br")); // , m("br")
		}

		if (item["oai.ibi.raw.8000E"]) {
			body.push(m("br"), item["oai.ibi.raw.8000E"], m("br"), m("br"));
		}

		body.push("Spell Descriptions: ", m("br"));
		spells.forEach(function(data) {
			body.push("~ " + data.szName + ": " + data.szDesc, m("br"));
		});

		if (item["oai.ibi.raw.8000F"]) {
			body.push(item["oai.ibi.raw.8000F"], m("br"));
		}

		if (item["oai.ibi.raw.80010"]) {
			body.push(item["oai.ibi.raw.80010"], m("br"));
		}

		return m(".item-panel", [
			m(".item-panel-header", getFullName(item)),
			m(".item-panel-body", body),
			m(".item-panel-inscription", [
				item["oai.ibi.raw.80007"],
				m("br"),
				m("br"),
				m(".item-panel-inscriber", item["oai.ibi.raw.80008"])
			])
		]);
	}

	const App = {
		view() {
			return m(".container", 
				getTable()
			);
		}
	};

	// line gets populated in SkunkTrader.
	const items = {{items}};
	const spellData = {{spellData}};
	const itemPrices = {{itemPrices}};
	

	m.mount(document.getElementById('app'), App);
	console.log("done");
	</script>
</body>
</html>